<footer>
  <div>
    Sisyphus Taks manager ©2024
  </div>
  <div>
    <a href="#">About</a>
  </div>
  <div>
    <a href="#">Credits</a>
  </div>
  <div>
    <a href="#">Privacy Policy</a>
  </div>
</footer>