<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Sisyphus</title>
</head>

<body>

  <%- include('./partials/header.ejs') %>

  <main>
    <h2>No mountain is too tall.</h2>
    <p>
      Sisyphus is an app to keep track of your daily tasks, so that nothing is left behind or forgotten!
    </p>

    <p>
      It has the option to for tasks to be reset a set amount of time, this way you don't have to add 'Doing the laundry'
      every week.
    </p>

    <%- include('./partials/footer.ejs') %>
  </main>
</body>

</html>