<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sisyphus</title>

  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <%- include('./partials/header.ejs') %>
  <main>

    <h3>You have to be logged in to access these pages.</h3>


    <%- include('./partials/footer.ejs') %>

  </main>

</body>

</html>