<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sisyphus</title>
  <link rel="stylesheet" href="/css/main.css">

  <link rel="stylesheet" href="/css/change-profile-values.css">
</head>

<body>
  <%-include("../partials/header.ejs")%>
  <main>
    <h2>Change password</h2>
  <form method="post" action="/user/change/password?_method=put">
    <label>
      New password: <input type="text" name="password" id="password">
    </label>
    <label>
      Confirm password: <input type="text" name="confirmpassword" id="confirmpassword">
    </label>
    <input type="submit" value="Change password">
  </form>
  <%-include("../partials/footer.ejs")%>

  </main>
  
</body>

</html>